.hero {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 20px;

    .hero-text {
        width: 450px;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
        font-family: $big-site-font;

        #title {
            font-size: 50px;
        }
    
        .details {
            font-family: $site-font;
            color: $site-white;
            font-weight: 300;
            font-style: italic;
            font-size: 18px;
            padding: 40px 20px 60px 20px;
        }
    }
}
.hero-image {
    height: 500px;
    background-image: linear-gradient(to right, $overlay-black, $overlay-black), url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}